<footer class="text-center text-white" style="background-color: rgba(33, 8, 26, 0.8);">
    <!-- Grid container -->
    <div class="container p-2">
      <h4 class="mb-3">Contact Us</h4>
      <p class="mb-0">
        For any inquiries or support, please feel free to reach out to us:
        <br>
        Email: contact@example.com
        <br>
        Phone: +1 123-456-7890
      </p>
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 MDBootstrap.com
    </div>
    <!-- Copyright -->
  </footer>
  