<!-- <h2>E-Learning Platform</h2>
<p>An online platform for interactive and engaging learning experiences.</p> -->





<main>

  <div class="intro">

    <h1>E-learning</h1>

    <p>Every day brings a new Opportunity</p>

    

  </div>

  <div class="achievements">

    <div class="work">

      <i class="fas fa-atom"></i>

      <p class="work-heading">Courses</p>

      <p class="work-text">Expand your knowledge with our wide range of courses taught by industry experts.</p>

    </div>

    <div class="work">

      <i class="fas fa-skiing"></i>

      <p class="work-heading">Instructors</p>

      <p class="work-text">Learn from experienced professionals in the field.</p>

    </div>

    <div class="work">

      <i class="fas fa-ethernet"></i>

      <p class="work-heading">Rating</p>

      <p class="work-text">Top rated courses can be accessed here</p>
    </div>

  </div>

  <div class="about-me">
    <img src="assets/el2.jpg" alt="me">
    <div class="about-me-text">
       <h2>About Our E-Learning Platform</h2>
       <p>An e-learning platform is a digital environment that provides educational resources, courses, and interactive tools for remote learning. It allows individuals to access a wide range of learning materials and engage in educational activities from anywhere and at any time. E-learning platforms offer various advantages such as flexibility, convenience, and personalized learning experiences.</p>
       <p>E-learning platforms cater to diverse subjects and fields of study, ranging from academic subjects like mathematics, science, and languages to professional development courses and specialized skills training. They can be used by students of all ages, working professionals seeking to upgrade their skills, or anyone interested in lifelong learning.</p>
       <p>Overall, e-learning platforms provide accessible and convenient opportunities for individuals to expand their knowledge, acquire new skills, and pursue educational goals in a flexible and interactive manner.</p>
    </div>
 </div>
</main> 